{% extends 'exam/adminbase.html' %}
{% block content %}
{%load static%}

<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary rounded-0">
    <div class="panel-heading rounded-0">
      <h6 class="panel-title">Students</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>

          <th>Name</th>
          <th>Photo</th>
          <th>Contact</th>
          <th>Address</th>
         
          <th>Actions</th>
        </tr>
      </thead>
      {% for t in students %}
      <tr>

        <td> {{t.get_name}}</td>
        <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{t.mobile}}</td>
        <td>{{t.address}}</td>
        
        <td class="text-center"><a class="btn btn-primary btn-xs" style="border-radius: 0%;" href="{% url 'update-student' t.id  %}"><small class="fas fa-edit"></small></a>
        <a class="btn btn-danger btn-xs" style="border-radius: 0%;" href="{% url 'delete-student' t.id  %}"><small class="fas fa-trash"></small></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}